h1{
	color: #104ce3;
}
p{
	color:#760eed;
}
a{
	color: hotpink;
}
.button{
	border:none;
	color:skyblue;
	padding: 12px 24px;
	text-decoration: none;
	display: flex;
	margin: 4px 2px;
	transition-duration: 0.5s;
	cursor:pointer;
	background-color: blue;
}
.button:hover{
	background-color: black;
	color:white;
}
.decorated{
	background-image: linear-gradient(to bottom right, hotpink,purple,darkblue);
	font-family: "Arial";
}
body{
	background-color:skyblue;
}